[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_SUPABASE_URL = "https://nycachjvpoqnjqqwyyvu.supabase.co"
  VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55Y2FjaGp2cG9xbmpxcXd5eXZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk5NTIzNTgsImV4cCI6MjA4NTUyODM1OH0.TYNqxXYefX-ZpcQUm-ZjYx8pdvzGJ_k59ccWd1gVxCg"
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
